In [58]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [59]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN'], axis=1)

In [60]:
# Determine the number of unique values in each column.
print(application_df.nunique())

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [61]:
# Instead of APPLICATION_TYPE for binning, use NAME
name_counts = application_df['NAME'].value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [62]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff = 5
# use the variable name `application_types_to_replace`
names_to_replace = name_counts[name_counts < cutoff].index.tolist()

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: count, Length: 403, dtype: int64

In [63]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [64]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff = 1000
# use the variable name `application_types_to_replace`
application_types_to_replace = app_type_counts[app_type_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [65]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [66]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_over1 = classification_counts[classification_counts > 1]
classification_counts_over1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [67]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_cutoff = 250
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < classifications_cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: count, dtype: int64

In [68]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [69]:
print(application_df.columns.tolist())

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'NAME_AACE INTERNATIONAL', 'NAME_ACE MENTOR PROGRAM OF AMERICA INC', 'NAME_ACTS MINISTRY', 'NAME_ACTS MISSIONS', 'NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS', 'NAME_AIR FORCE ASSOCIATION', 'NAME_ALABAMA FEDERATION OF WOMENS CLUBS', 'NAME_ALABAMA TREASURE FOREST ASSOCIATION', 'NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION', 'NAME_ALPHA PHI OMEGA', 'NAME_ALPHA PHI SIGMA', 'NAME_ALPHA PHI SIGMA INC', 'NAME_ALPHA SIGMA PHI FRATERNITY INC', 'NAME_ALTRUSA INTERNATIONAL FOUNDATION INC', 'NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES', 'NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC', 'NAME_AMERICAN ART THERAPY ASSOCIATION INC', 'NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN', 'NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN INC', 'NAME_AMERICAN CHEMICAL SOCIETY', 'NAME_AMERICAN CHRISTIAN FICTION WRITERS INC', 'NAME_AMERICAN COLLEGE OF HEALTHCARE EXECUTIVES', 'NAME_AMERICAN COLLEGE OF NURSE-MIDWIVES', 'NAME_AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES', 'NAME_AMERICAN FEDERATION OF LABOR & CONGRESS OF INDUSTRIAL ORGS', 'NAME_AMERICAN FEDERATION OF LABOR AND CONGRESS OF INDUSTRIAL ORGS', 'NAME_AMERICAN FEDERATION OF STATE COUNTY & MUNICIPAL EMPLOYEES', 'NAME_AMERICAN HIBISCUS', 'NAME_AMERICAN INDEPENDENT BUSINESS ALLIANCE', 'NAME_AMERICAN INSTITUTE OF GRAPHIC ARTS', 'NAME_AMERICAN IRIS SOCIETY', 'NAME_AMERICAN LEGION', 'NAME_AMERICAN LEGION AUXILIARY', 'NAME_AMERICAN NEPHROLOGY NURSES ASSOCIATION', 'NAME_AMERICAN POSTAL WORKERS UNION', 'NAME_AMERICAN SOCIETY OF ADDICTION MEDICINE INC', 'NAME_AMERICAN STUDENT DENTAL ASSOCIATION', 'NAME_AMERICAN VOLKSSPORT ASSOCIATION INC', 'NAME_AMERICAN WATER WORKS ASSOCIATION', 'NAME_AMERICAN YOUTH FOOTBALL INC', 'NAME_AMERICAN-TURKISH ASSOCIATION OF SOUTHERN CALIFORNIA', 'NAME_AMERICANS UNITED FOR SEPARATION OF CHURCH AND STATE', 'NAME_AMIGOS DE LAS AMERICAS', 'NAME_AMVETS', 'NAME_ANCIENT AND FREE ACCEPTED MASONS OF MISSOURI', 'NAME_ANCIENT FREE & ACCEPTED MASONS OF KANSAS', 'NAME_ARIZONA FEDERATION OF GARDEN CLUBS', 'NAME_ARROW CHILD AND FAMILY MINISTRIES', 'NAME_ASIAN PACIFIC AMERICAN INTERNAL REVENUE EMPLOYEES', 'NAME_ASSOCIATES OF VIETNAM VETERANS OF AMERICA INC', 'NAME_ASSOCIATION FOR PROFESSIONALS IN INFECTION CTRL & EPIDEMIOLOGY INC', 'NAME_ASSOCIATION FOR VASCULAR ACCESS', 'NAME_ASSOCIATION OF CIVILIAN TECHNICIANS INC', 'NAME_ASSOCIATION OF CLINICAL RESEARCH PROFESSIONALS', 'NAME_ASSOCIATION OF OPERATING ROOM NURSES INC', 'NAME_ASSOCIATION OF PROFESSIONAL GENEALOGISTS', 'NAME_ASSOCIATION OF SCHOOL BOOSTER CLUBS', 'NAME_ASSOCIATION OF TRADITIONAL HOOKING ARTISTS', 'NAME_BABYWEARING INTERNATIONAL INC', 'NAME_BARNABAS GROUP INC', 'NAME_BEAVERHEAD COUNTY 4-H FOUNDATION', 'NAME_BEREAVED PARENTS OF THE USA', 'NAME_BETA BETA BETA BIOLOGICAL SOCIETY', 'NAME_BETTER WORLD FUND', 'NAME_BLUE KNIGHTS MOTORCYCLE CLUB', 'NAME_BOY SCOUTS OF AMERICA', 'NAME_BOYS TEAM CHARITY INC', 'NAME_CAJUN FRENCH MUSIC ASSOCIATION OF LOUISIANA INC', 'NAME_CALIFORNIA ASSOCIATION FOR THE EDUCATION OF YOUNG CHILDREN', 'NAME_CALIFORNIA FEDERATION OF WOMENS CLUBS', 'NAME_CALIFORNIA GARDEN CLUBS INC', 'NAME_CALIFORNIA HIGHWAY PATROL EXPLORER PROGRAM', 'NAME_CALIFORNIA STATE CHAPER WOMENS COUNCIL OF REALTORS', 'NAME_CALIFORNIA STATE UNIVERSITY EMPLOYEES UNION', 'NAME_CALIFORNIA TEACHERS ASSOCIATION', 'NAME_CALIFORNIA WOMENS CHORUS', 'NAME_CASCADE 4-H FOUNDATION', 'NAME_CBMC INC', 'NAME_CENTERS FOR SPIRITUAL LIVING', 'NAME_CHC COMMUNITY CARE LLC', 'NAME_CHEVRON RETIREES ASSOCIATION', 'NAME_CHIEF WARRANT & WARRANT OFFICERS ASSOCIATION U S COAST GUARD', 'NAME_CHILDRENS HEART FOUNDATION', 'NAME_CHRISTIAN MEDICAL & DENTAL SOCIETY', 'NAME_CIRCLE K INTERNATIONAL INC', 'NAME_CISD EDUCATIONAL SUPPORT GROUPS INC', 'NAME_CIVITAN INTERNATIONAL', 'NAME_CLEAR CREEK ISD GROUPS', 'NAME_CLEARCREEK I S D SUPPORT GROUPS', 'NAME_COLLEGE AND UNIVERSITY PROFESSIONAL ASSOCIATION FOR HUMAN RESOURCES', 'NAME_COLLEGE AND UNIVERSITY PROFESSIONAL ASSOCIATION FOR HUMAN SERVICES', 'NAME_COMMUNICATION WORKERS OF AMERICA', 'NAME_CONCERNS OF POLICE SURVIVORS', 'NAME_CONSTRUCTION OWNERS ASSOCIATION OF AMERICA INC', 'NAME_COUNTRY DANCE & SONG SOCIETY INC', 'NAME_COUNTRY DANCE AND SONG SOCIETY INC', 'NAME_CREATIVE OPPORTUNITIES UNLIMITED', 'NAME_DAMAGE PREVENTION COUNCIL OF TEXAS', 'NAME_DAUGHTERS OF CHARITY HEALTH SYSTEM', 'NAME_DAUGHTERS OF ESTHER FELLOWSHIP INTERNATIONAL MINISTRIES INC', 'NAME_DAUGHTERS OF UNION VETERANS OF THE CIVIL WAR 1861-1865', 'NAME_DELTA KAPPA GAMMA SOCIETY INTERNATIONAL', 'NAME_DEMOLAY INTERNATIONAL', 'NAME_DEPARTMENT OF ALABAMA AUXILIARY TO THE VFW OF THE U S', 'NAME_DEPARTMENT OF ALABAMA VETERANS OF FOREIGN WARS OF THE UNITED STATES', 'NAME_DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC', 'NAME_DEPARTMENT OF MONTANA LADIES AUXILIARY TO THE VFW OF THE U S', 'NAME_DEPARTMENT OF NEVADA VETERANS OF FOREIGN WARS OF THE U S INC', 'NAME_DEPARTMENT OF NEVADA VETERANS OF FOREIGN WARS OF THE US INC', 'NAME_DEPARTMENT OF NEW MEXICO VETERANS OF FOREIGN WARS OF THE US AUXILIAR', 'NAME_DEPARTMENT OF OREGON LADIES AUXILIARY TO THE VFW OF THE U S', 'NAME_DEPARTMENT OF OREGON LADIES AUXILLARY TO THE VFW OF THE US', 'NAME_DEPARTMENT OF UTAH LADIES AUXILIARY TO THE VETERANS OF FOREIGN WARS OF', 'NAME_DEPARTMENT OF WYOMING VFW AUXILIARY', 'NAME_DEPT OF GEORGIA LADIES AUXILIARY TO THE VFW OF THE UNITED STATES', 'NAME_DISABLED AMERICAN VETERANS', 'NAME_DISABLED AMERICAN VETERANS AUXILIARY INC', 'NAME_DISTRICT 21 AMERICAN CONTRACT BRIDGE LEAGUE', 'NAME_DOBERMAN PINSCHER CLUB OF AMERICA', 'NAME_EAST VIEW SPORTS COALITION', 'NAME_EMERGENCY NURSES ASSOCIATION', 'NAME_EMMAUS CALLING INC', 'NAME_ESCAPEES SOCIAL NETWORK', 'NAME_EXECUTIVE WOMENS GOLF ASSOCIATION INC', 'NAME_FALLON COUNTY 4-H COUNCIL', 'NAME_FAMILY CAREER AND COMMUNITY LEADERS OF AMERICA INC', 'NAME_FAMILY MOTOR COACH ASSOCIATION', 'NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA', 'NAME_FATHER FLANAGANS BOYS HOME', 'NAME_FBI NATIONAL CITIZENS ACADEMY ALUMNI ASSOCIATION INC', 'NAME_FEDERATED GARDEN CLUBS OF MISSOURI INC', 'NAME_FELLOWSHIP OF CHRISTIAN COWBOYS INC', 'NAME_FINANCIAL PLANNING ASSOCIATION', 'NAME_FLEET RESERVE ASSOCIATION', 'NAME_FLORIDA FAMILY CHILD CARE HOME ASSOCIATION INC', 'NAME_FLORIDA GOVERNMENT FINANCE OFFICERS ASSOCIATION INC', 'NAME_FLORIDA STATE UNIVERSITY ALUMNI ASSOCIATION', 'NAME_FRATERNAL ORDER OF EAGLES', 'NAME_FRATERNAL ORDER OF POLICE', 'NAME_FREE & ACCEPTED MASONS OF CALIFORNIA', 'NAME_FREE & ACCEPTED MASONS OF GEORGIA', 'NAME_FREE & ACCEPTED MASONS OF TENNESSEE', 'NAME_FREE & ACCEPTED MASONS OF WASHINGTON', 'NAME_FULBRIGHT ASSOCIATION INC', 'NAME_FULL GOSPEL BUSINESS MENS FELLOWSHIP IN AMERICA', 'NAME_FUTURE FARMERS OF AMERICA AND ITS STATE ASSOCIATIONS & LOCAL CHAPTER', 'NAME_FUTURE FARMERS OF AMERICA STATE ASSOCIATIONS & LOCAL CHAPTER', 'NAME_GAMMA THETA UPSILON', 'NAME_GENERAL FEDERATION OF WOMENS CLUB', 'NAME_GENERAL FEDERATION OF WOMENS CLUBS ARIZONA INC', 'NAME_GEORGIA EXTENSION 4-H FOUNDATION', 'NAME_GERONTOLOGICAL ADVANCED PRACTICE NURSES ASSOCIATION', 'NAME_GLOBAL SPORTS ALLIANCE INC', 'NAME_GOLD WING ROAD RIDERS ASSOCIATION', 'NAME_GRANGE OF THE STATE OF CA ORDER OF PATRONS OF HUSBANDRY CHARTER', 'NAME_GUILDS OF THE SANTA FE OPERA INC', 'NAME_HABITAT FOR HUMANITY INTERNATIONAL', 'NAME_HABITAT FOR HUMANITY INTERNATIONAL INC', 'NAME_HANDS FOR LIFE', 'NAME_HARMONY INC', 'NAME_HEALTH CARE FOR ALL-CALIFORNIA', 'NAME_HEARING LOSS ASSOCIATION OF AMERICA INC', 'NAME_HERITAGE ACADEMY INC', 'NAME_HIGH TWELVE INTERNATIONAL', 'NAME_HOLIDAY RAMBLER RECREATIONAL VECHICLE CLUB INC', 'NAME_HOLIDAY RAMBLER RECREATIONAL VEHICLE CLUB INC', 'NAME_HONOR SOCIETY OF PHI KAPPA PHI', 'NAME_HOUSTON SQUARE & ROUND DANCE COUNCIL', 'NAME_HUGH OBRIAN YOUTH LEADERSHIP', 'NAME_HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC', 'NAME_ICE AGE FLOODS INSTITUTE', 'NAME_INDEPENDENT ELECTRICAL CONTRACTORS INC', 'NAME_INDEPENDENT ORDER OF ODD FELLOWS', 'NAME_INFRAGARD NATIONAL MEMBERS ALLIANCE INC', 'NAME_INTERNATIONAL ASSOCIATION FOR PUBLIC PARTICIPATION USA', 'NAME_INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS', 'NAME_INTERNATIONAL ASSOCIATION OF FORENSIC NURSES', 'NAME_INTERNATIONAL ASSOCIATION OF JEWISH GENEALOGICAL SOCIETIES INC', 'NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUB', 'NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS', 'NAME_INTERNATIONAL ASSOCIATION OF MACHINISTS & AEROSPACE WORKERS', 'NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION', 'NAME_INTERNATIONAL BROTHERHOOD OF ELECTRICAL WORKERS', 'NAME_INTERNATIONAL CONGRESS OF CHURCHES AND MINISTERS', 'NAME_INTERNATIONAL CONGRESS OF CHURCHES AND MINISTRIES', 'NAME_INTERNATIONAL CONGRESS OF CHURCHES MINISTERS', 'NAME_INTERNATIONAL FEDERATION OF FLY FISHERS INC', 'NAME_INTERNATIONAL MOUNTAIN BICYCLING ASSOCIATION - COLORADO', 'NAME_INTERNATIONAL ORDER OF THE RAINBOW GIRLS', 'NAME_INTERNATIONAL ORDER OF THE RAINBOW GIRLS THE SUPREME ASSEMBLY', 'NAME_INTERNATIONAL SOCIETY DAUGHTERS OF UTAH PIONEERS', 'NAME_INTERNATIONAL WOMENS INSOLVENCY & RESTRUCTURING CONFEDERATION INC', 'NAME_INTERNATIONL TRANSPLANT NURSES SOCIETY', 'NAME_JACKSONVILLE DISTRICT COUNCIL SOCIETY OF ST VINCENT DE PAUL INC', 'NAME_JAMESTOWN SOCIETY', 'NAME_JAMESTOWNE SOCIETY', 'NAME_JAPANESE AMERICAN CITIZENS LEAGUE', 'NAME_KAPPA ALPHA PSI FRATERNITY', 'NAME_KAPPA KAPPA PSI FRATERNITY', 'NAME_KIRKWOOD SCHOOL DISTRICT PARENT TEACHER ORGANIZATIONAL COUNCIL', 'NAME_KIWANIS INTERNATIONAL', 'NAME_KIWANIS INTERNATIONAL INC', 'NAME_KLEIN SUPPORT GROUPS INC', 'NAME_KNIGHTS OF COLUMBUS', 'NAME_KNIGHTS TEMPLAR OF THE UNITED STATES OF AMERICA', 'NAME_LA LECHE LEAGUE INTERNATIONAL INC', 'NAME_LA LECHE LEAGUE OF WASHINGTON', 'NAME_LAKE TRABIS ATHLETIC BOOSTER CLUB INC', 'NAME_LAMBDA THETA ALPHA', 'NAME_LEAGUE OF UNITED LATIN AMERICAN CITIZENS', 'NAME_LEWIS AND CLARK TRAIL HERITAGE FOUNDATION INC', 'NAME_LITTLE LEAGUE BASEBALL INC', 'NAME_LOUISIANA 4-H FOUNDATION', 'NAME_LOUISIANA GARDEN CLUB FEDERATION', 'NAME_LOUSIANA GARDEN CLUB FEDERATION INC', 'NAME_M W PRINCE HALL GRAND LODGE FREE AND ACCEPTED MASONS OF LOUISIANA', 'NAME_MARINE CORPS LEAGUE', 'NAME_MASTER GARDENER ASSOCIATION', 'NAME_MENNONITE DISASTER SERVICE', 'NAME_MILITARY ORDER OF THE WORLD WARS', 'NAME_MODERN QUILT GUILD INC', 'NAME_MOMS CLUB', 'NAME_MONTANA 4-H FOUNDATION INC', 'NAME_MONTANA CONGRESS OF PARENTS TEACHERS STUDENTS', 'NAME_MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS', 'NAME_MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS', 'NAME_MUSIC TEACHERS NATIONAL ASSOCIATION INC', 'NAME_MYTEAM TRIUMPH INC', 'NAME_NATIONAL ASSOCIATION OF CHARITABLE GIFT PLANNERS', 'NAME_NATIONAL ASSOCIATION OF COMPOSERS USA', 'NAME_NATIONAL ASSOCIATION OF CORPORATE DIRECTORS', 'NAME_NATIONAL ASSOCIATION OF HISPANIC NURSES', 'NAME_NATIONAL ASSOCIATION OF LETTER CARRIERS', 'NAME_NATIONAL ASSOCIATION OF SCHOLARS', 'NAME_NATIONAL ASSOCIATION OF TEACHERS OF SINGING INC', 'NAME_NATIONAL ASSOCIATION OF WATCH AND CLOCK COLLECTORS INC', 'NAME_NATIONAL CHARITY LEAGUE', 'NAME_NATIONAL CHARITY LEAGUE INC', 'NAME_NATIONAL CHRISTIAN CHARITABLE FOUNDATION INC', 'NAME_NATIONAL COUNCIL FOR GEOCOSMIC RESEARCH INC', 'NAME_NATIONAL COUNCIL OF JEWISH WOMEN INCORPORATED', 'NAME_NATIONAL COUNCIL OF NEGRO WOMEN INC', 'NAME_NATIONAL COUNCIL OF TEACHERS OF ENGLISH', 'NAME_NATIONAL FEDERATION OF MUSIC CLUBS', 'NAME_NATIONAL HUGUENOT SOCIETY', 'NAME_NATIONAL INSTITUTE OF GOVERNMENTAL PURCHASING INC', 'NAME_NATIONAL KAPPA KAPPA IOTA INC', 'NAME_NATIONAL KITCHEN & BATH ASSOC', 'NAME_NATIONAL LEAGUE OF AMERICAN PEN WOMEN INC', 'NAME_NATIONAL LEAGUE OF YOUNG MEN INC', 'NAME_NATIONAL NETWORK OF ABORTION FUNDS', 'NAME_NATIONAL ORGANIZATION FOR WOMEN INC', 'NAME_NATIONAL RURAL LETTER CARRIERS ASSOCIATION', 'NAME_NATIONAL SOCIETY COLONIAL DAUGHTERS OF THE SEVENTEENTH CENTURY', 'NAME_NATIONAL SOCIETY DAUGHTERS OF COLONIAL WARS INC', 'NAME_NATIONAL SOCIETY DAUGHTERS OF THE BRITISH EMPIRE IN THE UNITED STATE', 'NAME_NATIONAL SOCIETY OF THE DAUGHTERS OF THE AMERICAN REVOLUTION', 'NAME_NATIONAL SOCIETY OF THE SONS OF THE AMERICAN REVOLUTION', 'NAME_NATIONAL YOUNG MENS SERVICE LEAGUE', 'NAME_NATL SOCIETY WOMEN DESCENDANTS OF THE ANCIENT & HONORABLE ARTILLERY', 'NAME_NATURAL MEN AND NATURAL WOMEN ORGANIZATION INC', 'NAME_NEW MEXICO GARDEN CLUBS INC', 'NAME_NU RHO PSI-THE NATIONAL HONOR SOCIETY IN NEUROSCIENCE', 'NAME_OFFICE AND PROFESSIONAL EMPLOYEES INTERNATIONAL UNION', 'NAME_OLD OAK CLIFF CONSERVATION LEAGUE INC', 'NAME_OPTIMIST INTERNATIONAL', 'NAME_ORDER OF THE AMARANTH INC', 'NAME_OREGON 4-H FOUNDATION', 'NAME_OREGON EDUCATION ASSOCIATION', 'NAME_Other', 'NAME_PAGAN PRIDE PROJECT INC', 'NAME_PARENT BOOSTER USA INC', 'NAME_PARENTS OF MURDERED CHILDREN', 'NAME_PEARLAND LADY OILER GOLF BOOSTER CLUB', 'NAME_PENN STATE ALUMNI ASSOCIATION', 'NAME_PHI BETA PSI SORORITY', 'NAME_PHI DELTA EPSILON MEDICAL FRATERNITY INC', 'NAME_PHI ETA SIGMA NATIONAL HONOR SOCIETY INC', 'NAME_POP WARNER LITTLE SCHOLARS INC', 'NAME_PROFESSIONAL LOADMASTER ASSOCIATION', 'NAME_PROJECT MANAGEMENT INSTITUTE', 'NAME_PTA CALIFORNIA CONGRESS OF PARENTS TEACHERS & STUDENTS INC', 'NAME_PTA FLORIDA CONGRESS', 'NAME_PTA GEORGIA CONGRESS', 'NAME_PTA HAWAII CONGRESS', 'NAME_PTA OKLAHOMA CONGRESS', 'NAME_PTA TEXAS CONGRESS', 'NAME_PTA UTAH CONGRESS', 'NAME_PUBLIC RELATIONS COUNCIL OF ALABAMA', 'NAME_QUAIL FEDERATION INC', 'NAME_QUOTA CLUB INTERNATIONAL INC', 'NAME_RCI INC', 'NAME_RECREATION CENTERS OF SUN CITY INC', 'NAME_REFRIGERATION SERVICE ENGINEERS SOCIETY', 'NAME_RISK MANAGEMENT ASSOCIATES FLORIDA CHAPTER CORP', 'NAME_ROAD RUNNERS CLUB OF AMERICA', 'NAME_ROTARY INTERNATIONAL', 'NAME_ROYAL ORDER OF JESTERS', 'NAME_RURAL COMMUNITY HOUSING DEVELOPMENT CORPORATION', 'NAME_RURITAN NATIONAL CORP', 'NAME_RVING WOMEN', 'NAME_SAN RAMON VALLEY EDUCATION FOUNDATION', 'NAME_SEATTLE CHILDRENS HOSPITAL', 'NAME_SERTOMA INC', 'NAME_SHRINERS INTERNATIONAL', 'NAME_SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC', 'NAME_SIGMA BETA DELTA INC', 'NAME_SIGMA NU FRATERNITY', 'NAME_SIGMA PHI LAMBDA INC', 'NAME_SIGMA THETA TAU INTERNATIONAL INC', 'NAME_SLOW FOOD U S A INC', 'NAME_SLOW FOOD USA INC', 'NAME_SNOHOMISH HIGH SCHOOL PANTHER PARENTS CLUB', 'NAME_SOCIETY FOR CREATIVE ANACHRONISM', 'NAME_SOCIETY FOR CREATIVE ANACHRONISM INC', 'NAME_SOCIETY FOR MANAGEMENT INFORMATION SYSTEMS', 'NAME_SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER', 'NAME_SOCIETY FOR PRESERVATION & ENCRGMNT OF BARBERSHOP QUARTET SINGING AMER', 'NAME_SOCIETY OF MAYFLOWER DESCENDANTS IN THE STATE OF TEXAS', 'NAME_SOCIETY OF PLASTICS ENGINEERS', 'NAME_SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES', 'NAME_SOCIETY OF WOMEN ENGINEERS', 'NAME_SOLID WASTE ASSOCIATION OF NORTH AMERICA INC', 'NAME_SONS OF CONFEDERATE VETERANS INC', 'NAME_SONS OF ITALY IN AMERICA', 'NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC', 'NAME_SOUTHERN CALIFORNIA OUTRIGGER RACING ASSOCIATION', 'NAME_SOUTHERN OFF ROAD BICYCLE ASSOCIATION', 'NAME_SOUTHERN OFF-ROAD BICYCLE ASSOCIATION', 'NAME_SPARTAN ATHLETIC CLUB', 'NAME_SPIRITHORSE THERAPEUTIC RIDING CENTER', 'NAME_STEVES CLUB NATIONAL PROGRAM', 'NAME_SWEET ADELINES INTERNATIONAL', 'NAME_TANNER MEDICAL CENTER', 'NAME_TAU KAPPA EPSILON FRATERNITY INC', 'NAME_TEAMSTER HORSEMEN MOTORCYCLE ASSOCIATION INC', 'NAME_TENNESSEE FOSTER CARE ASSOCIATION INC', 'NAME_TENNESSEE ORDER OF THE EASTERN STAR', 'NAME_TEXAS 4-H', 'NAME_TEXAS FEDERATION OF WOMEN CLUBS', 'NAME_TEXAS GARDEN CLUBS INC', 'NAME_TEXAS MASTER GARDENER ASSOCIATION INC', 'NAME_TEXAS STATE TEACHERS ASSOCIATION', 'NAME_THE INTERIOR DESIGN SOCIETY INC', 'NAME_THE OREGON STATE FEDERATION OF GARDEN CLUBS INC', 'NAME_THE READING FOUNDATION', 'NAME_THE UNITED STATES PONY CLUB INC', 'NAME_THE UNITED STATES PONY CLUBS INC', 'NAME_THETA CHI EPSILON SORORITY OF N A', 'NAME_THETA NU XI MULTICULTURAL SORORITY INC', 'NAME_THETA TAU', 'NAME_THETA TAU FRATERNITY', 'NAME_TOASTMASTERS INTERNATIONAL', 'NAME_TOPS CLUB INC', 'NAME_TROUT UNLIMITED', 'NAME_TUSKEGEE AIRMEN INC', 'NAME_UNION OF CALIFORNIA STATE WORKERS', 'NAME_UNITED ASSOCIATION OF JOURNEYMEN & APPRENTICES OF THE PLUMBING & PIPE', 'NAME_UNITED DAUGHTERS OF THE CONFEDERACY', 'NAME_UNITED FEDERATION OF DOLL CLUBS INC', 'NAME_UNITED MINE WORKERS OF AMERICA INTERNATIONAL', 'NAME_UNITED OSTOMY ASSOCIATION OF AMERICA INC', 'NAME_UNITED OSTOMY ASSOCIATIONS OF AMERICA INC', 'NAME_UNITED STATE PONY CLUBS INC', 'NAME_UNITED STATES BOWLING CONGRESS INC', 'NAME_UNITED STATES FENCING ASSOCIATION', 'NAME_UNITED STATES PONY CLUBS INC', 'NAME_UNITED STATES POWER SQUADRONS', 'NAME_UNITED STEELWORKERS', 'NAME_UNIVERSITY OF FLORIDA', 'NAME_UNIVERSITY OF FLORIDA ALUMNI ASSOCIATION INC', 'NAME_UNIVERSITY OF WYOMING', 'NAME_US COMMITTEE FOR UN FUND FOR WOMEN INC', 'NAME_US LACROSSE INC', 'NAME_USA SWIMMING INC', 'NAME_VETERANS FOR PEACE INC', 'NAME_VETERANS OF FOREIGN WARS DEPARTMENT OF CALIFORNIA', 'NAME_VETERANS OF FOREIGN WARS DEPARTMENT OF KANSAS LADIES AUXILIARY', 'NAME_VETERANS OF FOREIGN WARS OF THE U S AUXILIARY DEPARTMENT OF LOUISIANA', 'NAME_VETERANS OF FOREIGN WARS OF THE UNITED STATES AUX DEPT OF COLORADO', 'NAME_VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY', 'NAME_VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY DEPARTMENT', 'NAME_VETERANS OF FOREIGN WARS OF THE UNITED STATES DEPT OF COLORADO', 'NAME_VETERANS OF FOREIGN WARS OF THE US DEPT OF TEXAS AUXILIARY', 'NAME_VFW AUXILIARY DEPARTMENT OF MISSISSIPPI', 'NAME_VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC', 'NAME_VFW AUXILIARY DEPT OF HAWAII', 'NAME_VICTORY NEW TESTAMENT FELLOWSHIP INTERNATIONAL', 'NAME_VIETNAM VETERANS OF AMERICA INC', 'NAME_WARRIOR BROTHERHOOD OF VETERANS MOTORCYCLE CLUB INC', 'NAME_WASHINGTON SOCIETY OF PROFESSIONAL ENGINEERS', 'NAME_WASHINGTON STATE GRANGE', 'NAME_WASHINGTON STATE UNIVERSITY', 'NAME_WEST HOUSTON AQUATIC LEAGUE INC', 'NAME_WOMEN IN AVIATION INTERNATIONAL', 'NAME_WOMENS OVERSEAS SERVICE LEAGUE', 'NAME_WORKERS UNITED', 'NAME_WYOMING CONGRESS OF PARENT AND TEACHERS ASSOCIATION', 'NAME_YOUNG ENTREPRENEURS ORGANIZATION', 'NAME_YOUNG PROFESSIONALS IN TRANSPORTATION', 'NAME_ZETA PHI BETA SORORITY', 'NAME_ZETA PHI BETA SORORITY INC', 'NAME_ZONTA INTERNATIONAL', 'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6', 'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent', 'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C1700', 'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000', 'CLASSIFICATION_C7000', 'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev', 'ORGANIZATION_Association', 'ORGANIZATION_Co-operative', 'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0', 'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999', 'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M', 'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y']

In [70]:
# Split our preprocessed data into our features and target arrays
target = application_df['IS_SUCCESSFUL']
features = application_df.drop('IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=42, test_size=0.5)

In [71]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [72]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu6', input_dim=len(X_train.columns)))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation='relu6'))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 30)                13380

 dense_4 (Dense)             (None, 20)                620

 dense_5 (Dense)             (None, 1)                 21

=================================================================
Total params: 14021 (54.77 KB)
Trainable params: 14021 (54.77 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [73]:
#create callback every 5 epochs
checkpoint_path = "model2_checkpoint/checkpoint_{epoch:02d}"
checkpoint_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    save_weights_only=True,
    save_freq=5
)

# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [74]:
# Train the model
model = nn.fit(X_train_scaled, y_train, epochs=10, callbacks=[checkpoint_callback], verbose=1)

Epoch 1/10
536/536 [==============================] - 1s 2ms/step - loss: 0.5016 - accuracy: 0.7609
Epoch 2/10
536/536 [==============================] - 1s 2ms/step - loss: 0.4297 - accuracy: 0.7948
Epoch 3/10
536/536 [==============================] - 1s 2ms/step - loss: 0.4218 - accuracy: 0.7964
Epoch 4/10
536/536 [==============================] - 1s 2ms/step - loss: 0.4188 - accuracy: 0.8001
Epoch 5/10
536/536 [==============================] - 1s 2ms/step - loss: 0.4170 - accuracy: 0.8008
Epoch 6/10
536/536 [==============================] - 1s 2ms/step - loss: 0.4153 - accuracy: 0.8002
Epoch 7/10
536/536 [==============================] - 1s 2ms/step - loss: 0.4142 - accuracy: 0.8023
Epoch 8/10
536/536 [==============================] - 1s 2ms/step - loss: 0.4133 - accuracy: 0.8039
Epoch 9/10
536/536 [==============================] - 1s 2ms/step - loss: 0.4132 - accuracy: 0.8038
Epoch 10/10
536/536 [==============================] - 1s 2ms/step - loss: 0.4122 - accuracy: 0.8037

In [78]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

536/536 - 0s - loss: 0.4444 - accuracy: 0.7892 - 183ms/epoch - 342us/step
Loss: 0.44435885548591614, Accuracy: 0.7892128229141235

In [76]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Improved_Model.h5")

In [77]:
# previous model results: loss: 0.5423 - accuracy: 0.7340
# current model results: loss: 0.4444 - accuracy: 0.7892
# ~5% improvement