## Preprocessing

In [777]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [778]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [779]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [780]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [781]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff = 200
# use the variable name `application_types_to_replace`
application_types_to_replace = app_type_counts[app_type_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [782]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [783]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_over1 = classification_counts[classification_counts > 1]

In [784]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_cutoff = 100
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < classifications_cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [785]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [786]:
print(application_df.columns.tolist())

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8', 'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent', 'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C1270', 'CLASSIFICATION_C1700', 'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C2700', 'CLASSIFICATION_C3000', 'CLASSIFICATION_C4000', 'CLASSIFICATION_C5000', 'CLASSIFICATION_C7000', 'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev', 'ORGANIZATION_Association', 'ORGANIZATION_Co-operative', 'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0', 'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999', 'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M', 'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y']

In [787]:
# Split our preprocessed data into our features and target arrays
target = application_df['IS_SUCCESSFUL']
features = application_df.drop('IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=42, test_size=0.6)

In [788]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [789]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation='relu6', input_dim=len(X_train.columns)))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation='relu6'))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_38"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_109 (Dense)           (None, 50)                2500

 dense_110 (Dense)           (None, 20)                1020

 dense_111 (Dense)           (None, 1)                 21

=================================================================
Total params: 3541 (13.83 KB)
Trainable params: 3541 (13.83 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [790]:
#create callback every 5 epochs
checkpoint_path = "model_checkpoint/checkpoint_{epoch:02d}"
checkpoint_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    save_weights_only=True,
    save_freq=5
)

# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [791]:
# Train the model
model = nn.fit(X_train_scaled, y_train, epochs=25, callbacks=[checkpoint_callback], verbose=1)

Epoch 1/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5798 - accuracy: 0.7108
Epoch 2/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5555 - accuracy: 0.7292
Epoch 3/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7323
Epoch 4/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7305
Epoch 5/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7341
Epoch 6/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7332
Epoch 7/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7329
Epoch 8/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7353
Epoch 9/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7355
Epoch 10/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7354
Epoch 11/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7358
Epoch 12/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7370
Epoch 13/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7364
Epoch 14/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7346
Epoch 15/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7388
Epoch 16/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7373
Epoch 17/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7381
Epoch 18/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7381
Epoch 19/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7395
Epoch 20/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7380
Epoch 21/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7381
Epoch 22/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7405
Epoch 23/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7390
Epoch 24/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7409
Epoch 25/25
429/429 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7395

In [794]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

644/644 - 0s - loss: 0.5597 - accuracy: 0.7245 - 229ms/epoch - 355us/step
Loss: 0.559683084487915, Accuracy: 0.7245383858680725

In [795]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(